<nav class="navbar navbar-expand-lg pl-5 pr-5 sticky-top custom-nav">
  <a class="navbar-brand" href="/">
  
    <span class="text-white font-weight-bold pl-1">appName</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ul-nav">
      
      <li class="ml-5 mr-5 nav-item">
        <a class="nav-link a-link" href="/about">About</a>
      </li>
      
      <li class="ml-5 mr-5 nav-item">
        <a class="nav-link a-link" href="/manuscript">Manuscript</a>
      </li>

      <li class="ml-5 mr-5 nav-item">
        <a class="nav-link a-link" href="/contact">Contact</a>
      </li>

      <li class="ml-5 mr-5 nav-item">
        <a class="nav-link a-link btn btn-custom pl-3 pr-3" href="/get-started">GET STARTED</a>
      </li>

    </ul>
  </div>
</nav>