{{!-- <nav class="navbar navbar-expand-lg pl-5 pr-5 sticky-top custom-nav">
  <a class="navbar-brand" href="/">
  
    <span class="text-white font-weight-bold pl-1">GunitaHu</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ul-nav">
      
      <li class="ml-5 mr-5 nav-item">
        <a class="nav-link a-link" href="/about">About</a>
      </li>
      
      <li class="ml-5 mr-5 nav-item">
        <a class="nav-link a-link" href="/manuscript">Manuscript</a>
      </li>

    

      <li class="ml-5 mr-5 nav-item">
        <a class="nav-link a-link btn btn-custom pl-3 pr-3" href="/get-started">GET STARTED</a>
      </li>

    </ul>
  </div>
</nav> --}}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><span class="font-weight-bold h2">GunitaHu</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active ml-3 mr-3 h4">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active ml-3 mr-3 h4">
        <a class="nav-link" href="/about">About</a>
      </li>
       <li class="nav-item active ml-auto h4">
       <a class="nav-link btn-lg btn-custom" href="/get-started">GET STARTED</a>
      </li>
      {{!-- <li class="nav-item active ml-3 mr-3 h4">
        <a class="nav-link" href="/manuscript">Manuscript</a>
      </li> --}}
      
    </ul>
  </div>
</nav>