{{> header }}
<div class="container">
  
  <section id="project" class="mt-5">
    <h2 class="font-weight-bold">The Project</h2>
    <hr>
    <h4>
    <span class="font-weight-bold">GunitaHu</span> is an undergraduate thesis project that aims to provide real-time dementia care. 
    {{!-- You may view our manuscript <a href="/manuscript">here</a>. --}}
    <div></div>
    GunitaHu provides private Virtual Reality rooms for caretakers and their patients.  
    <div></div>
    <i>Gunita</i> comes from the Tagalog word 
    meaning "memory" and <i>Hu</i> comes from the Chinese word meaning "care".
    </h4>
  </section>

  <section id="about-us">
    <h2 class="font-weight-bold">About Us</h2>
    <hr>
    <h4>
    This project is made by Aira Ang and Obee Principio. We are Computer Science students in the University of the Philippines Diliman. 
    We are currently doing our research in the <a href="https://sites.google.com/up.edu.ph/upd-dcs-s3lab/home" target="_noblank">Service Science and Software Engineering Laboratory</a>.
    You may contact us <a href="mailto:aja32700@gmail.com,rdprincipio.jr@gmail.com">here</a>.
    <div></div>
   
    </h4>
  </section>
  
</div>