{{> header }}
<div class="container font-weight-bold">
  {{#if message}}
    <div class="alert alert-info mt-4">{{ message }}</div>
  {{/if}}
  <h1 class="text-center mt-3">GET STARTED</h1>
  <hr>
  <div class="row text-center">
    <div class="col-sm">
      <p class="h4 font-weight-bold">Caregiver</p>
      <hr>
      <a href="/room/create" class="btn btn-lg btn-custom mt-5 mx-auto">CREATE ROOM</a>
      <div></div>
      <a href="/room/secret" class="btn btn-lg btn-custom mt-5 mx-auto">EDIT ROOM</a>
    </div>


    <div class="col-sm">
      <p class="h4 font-weight-bold">Patient</p>
      <hr>
      
      <a href="/room/join" class=" btn btn-lg btn-custom mt-5 mx-auto">JOIN ROOM</a>
    </div>
  </div>

</div>