{{> header }}
<div class="container">
  <h1 class="text-center mt-3">GET STARTED</h1>
  <div class="row text-center">
    <div class="col">
      <a href="/room/create" class="nav-link btn btn-lg btn-custom w-25 mt-5 mx-auto">CREATE ROOM</a>
    </div>
    <div class="col">
      <a href="/room/join" class="nav-link btn btn-lg btn-custom w-25 mt-5 mx-auto">JOIN <br>ROOM</a>
    </div>
  </div>

  <div class="text-center text-black font-weight-bold">
    <a href="/room/secret"><u>Edit Room</u></a>
  </div>
</div>