{{> header }}
<section class="pt-5 pb-5 pl-4 pr-4 bg-white s-splash">
  <h3 class="text-center font-weight-bold h1">Real-time Dementia Care from the comfort of your own home</h3>
  <a href="/get-started" class="nav-link btn btn-lg btn-custom w-25 mt-5 mx-auto">GET STARTED</a>
</section>

<section class="pt-5 pb-5 pl-4 pr-4 bg-pink">
  <h2 class="text-center font-weight-bold h-main">Features</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="d-flex justify-content-center mt-5">
          <div class="d-flex">
            <img src="/static/img/default-placeholder-image.png" width="150"  height="150" alt="" class="p-4 rounded">
            <div class="ml-4">
            <h5 class="font-weight-bold">Real-time</h5>
            <p>GunitaHu allows the patient and caretaker to interact in real-time, providing instant communication and interaction </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="d-flex justify-content-center mt-5">
          <div class="d-flex">
            <img src="/static/img/default-placeholder-image.png" width="150" height="150" alt="" class="p-4">
            <div class="ml-4">
             <h5 class="font-weight-bold">Private Virtual Rooms</h5>
            <p>GunitaHu provides you with a private room where only the patient and caretaker can interact with each other</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="d-flex justify-content-center mt-5">
          <div class="d-flex">
            <img src="/static/img/default-placeholder-image.png" width="150" height="150" alt="" class="p-4">
            <div class="ml-4">
            <h5 class="font-weight-bold">Personalization</h5>
            <p>Caretakers personalize their patient's room to increase engagement and effectiveness</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>