{{> header }}
<section class="pt-5 pb-5 pl-4 pr-4 bg-white s-splash">
  <h1 class="text-center font-weight-bold h-main">VRTherapy</h1>
  <h3 class="text-center">Personalized virtual rooms</h3>
  <a href="/get-started" class="nav-link btn btn-lg btn-custom w-25 mt-5 mx-auto">GET STARTED</a>
</section>
<section class="pt-5 pb-5 pl-4 pr-4 bg-pink">
  <h2 class="text-center font-weight-bold h-main">Features</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="d-flex justify-content-center mt-5">
          <div class="d-flex">
            <img src="img/ref.png" width="150"  height="150" alt="" class="p-4 rounded">
            <div class="ml-4">
            <h5 class="font-weight-bold">Lorem</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque nulla id eos incidunt explicabo et molestias omnis dicta veniam sequi! Rem mollitia quis maiores tempora magni eius minus nulla excepturi.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="d-flex justify-content-center mt-5">
          <div class="d-flex">
            <img src="img/payout.png" width="150" height="150" alt="" class="p-4">
            <div class="ml-4">
            <h5 class="font-weight-bold">Lorem</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae quidem, et doloremque consequatur in esse enim molestias eos! Quasi, ipsa aperiam voluptas laudantium dolorum ullam alias fugit expedita nam natus.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="d-flex justify-content-center mt-5">
          <div class="d-flex">
            <img src="img/secure.png" width="150" height="150" alt="" class="p-4">
            <div class="ml-4">
            <h5 class="font-weight-bold">Lorem</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae a quo, cupiditate unde odio omnis corporis animi fugit deleniti reprehenderit dignissimos vitae similique veritatis consequatur? Natus non error dolores ducimus?</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>