<!DOCTYPE html>
<html lang="en" style="background-color:rgba(255, 255, 255, 0.2)">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="GunitaHu Room">
    
    {{!-- AFrame --}}
     <script src="https://aframe.io/releases/1.1.0/aframe.min.js"></script>  

    {{!-- Multiplayer dependencies --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
    <script src="https://unpkg.com/open-easyrtc@^2.0.5/api/easyrtc.js"></script>
    <script src="https://unpkg.com/networked-aframe@0.8.0/dist/networked-aframe.min.js"></script>

    {{!-- AFrame Libraries --}}
    <script src="https://cdn.rawgit.com/elbobo/aframe-multisrc-component/b6d23310/dist/0.3/aframe-multisrc-component.js"></script>
    <script src="https://unpkg.com/aframe-state-component@7.1.0/dist/aframe-state-component.min.js"></script>
    <script src="https://unpkg.com/aframe-animation-timeline-component@2.0.0/dist/aframe-animation-timeline-component.min.js"></script>
    {{!-- <script src="https://raw.githack.com/thedart76/aframe-blink-teleportation/master/js/aframe-blink-teleportation-min.js"></script> --}}
    
    
    {{!-- CSS + jQuery --}}
    <link rel="stylesheet" type="text/css" href="/static/css/loading.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    
    
    
 
 
  </head>
 
  <body>

     <div id="splash" style="background-color: rgba(0, 0, 0);">
      <div class="loading"></div>
    </div>

    {{!-- Custom Components --}}
    <script src="/static/assets/js/load-assets.component.js"></script>
    <script src="/static/assets/js/spawn-outside.component.js"></script>
    <script src="/static/assets/js/aframe-blink-teleportation.js"></script>
    

    <script>

      

      AFRAME.registerState({
        initialState: {
          has_done_remote:false,
          has_done_radio:false,
          has_done_arrange:false,
          has_done_water:false,
          has_scrapbook_1: false,
          has_scrapbook_2: false,
          has_scrapbook_3: false,
          has_scrapbook_4: false
        },
      
        handlers: {
          toggleRemote: function(state, action) {
            state.has_done_remote = true
          },

          toggleRadio: function(state, action) {
            state.has_done_radio = true
          },

          toggleArrange: function(state, action) {
            state.has_done_arrange = true
          },

          toggleWater: function(state, action) {
            state.has_done_water = true
          },

          toggleScrapbook1: function(state, action) {
            state.has_scrapbook_1 = true
          },
          toggleScrapbook2: function(state, action) {
            state.has_scrapbook_2 = true
          },
          toggleScrapbook3: function(state, action) {
            state.has_scrapbook_3 = true
          },
          toggleScrapbook4: function(state, action) {
            state.has_scrapbook_4 = true
          }


        }
      });

      </script>
    

    <a-scene 
      id="scene"
    networked-scene="
      room: {{room_code}};
      debug: true;
      audio: true;
      adapter: easyrtc;
    "
    loading-screen="enabled:false"
   
    
    light="defaultLightsEnabled: false"
    animation-timeline__1="timeline: #myTimeline; loop: true"
    > 
      <a-assets timeout="600000">
        <img id="sky" src="/static/assets/img/sky.jpg" crossorigin="anonymous"></img>
        <img id="ground" 
        src="/static/assets/img/grass.jpg" crossorigin="anonymous">
        {{> common_assets }}
        

        <!-- Templates -->
        <template id="box-template">
          <a-entity>
            <a-box class="blk"
             position="0 1 -2.650" 
             scale="0.35 0.35 0.35" 
             material="color: yellow"
             block
            ></a-box>
          </a-entity>
        </template>

        
       {{> avatar_template }}

      </a-assets>

        


        


        <a-entity model-manager>

          {{> house }}

          {{!-- LIVING ROOM --}}
          {{> remote }}
          {{> radio }}
          {{> camera }}
          {{> sofa }}
          {{> scrapbook }}
          
          
          {{!-- GARDEN --}}
          {{> bench }}
          {{> gardentable }} 
          {{> vasestand }}
          {{> pot_1 }}
          {{> pot_2 }}
          {{> pot_3 }}
          {{> pot_4 }}


          
          {{> watercan }}
          {{> vase }}
          {{> flower1 }}
          {{> flower2 }}
          {{> flower3 }}
          {{> flower4 }}


         

          
          {{> exit }}

        </a-entity>


        {{!-- delayed assets --}}
        {{> tv_set }}   
        
        {{> bookshelf }}

        {{> scrapbook_1 }}
        {{> scrapbook_2 }}
        {{> scrapbook_3 }}
        {{> scrapbook_4 }}

        <a-sky src="#sky"></a-sky>
        <a-plane material="src:#ground; repeat: 20 20; shader: flat" height="100" width="100" rotation="-90 0 0" scale="0.5 0.5 1"></a-plane>

        {{!-- </a-entity> --}}

      <a-timeline id="myTimeline">
            <a-timeline-group>
            <a-timeline-animation select="#hover-remote" name="start"></a-timeline-animation>
            <a-timeline-animation select="#hover-radio" name="start"></a-timeline-animation>
            <a-timeline-animation select="#hover-camera" name="start"></a-timeline-animation>
            <a-timeline-animation select="#hover-can" name="start"></a-timeline-animation>
            <a-timeline-animation select="#hover-flower1" name="start"></a-timeline-animation>
            <a-timeline-animation select="#hover-flower2" name="start"></a-timeline-animation>
            <a-timeline-animation select="#hover-flower3" name="start"></a-timeline-animation>
            <a-timeline-animation select="#hover-flower4" name="start"></a-timeline-animation>
           
           
        </a-timeline-group>

        <a-timeline-group>
         
          
          <a-timeline-animation select="#hover-remote" name="end"></a-timeline-animation>
          <a-timeline-animation select="#hover-radio" name="end"></a-timeline-animation>
            <a-timeline-animation select="#hover-camera" name="end"></a-timeline-animation>
            <a-timeline-animation select="#hover-can" name="end"></a-timeline-animation>
            <a-timeline-animation select="#hover-flower1" name="end"></a-timeline-animation>
            <a-timeline-animation select="#hover-flower2" name="end"></a-timeline-animation>
            <a-timeline-animation select="#hover-flower3" name="end"></a-timeline-animation>
            <a-timeline-animation select="#hover-flower4" name="end"></a-timeline-animation>
        </a-timeline-group>
        </a-timeline>

        {{> hover }}

      

      <a-entity id="state" bind__gameState=
      "has_done_remote: has_done_remote; 
      has_done_radio: has_done_radio;
      has_done_arrange: has_done_arrange;
      has_done_water: has_done_water;
      has_scrapbook_1: has_scrapbook_1;
      has_scrapbook_2: has_scrapbook_2;
      has_scrapbook_3: has_scrapbook_3;
      has_scrapbook_4: has_scrapbook_4
      "></a-entity>

     <a-entity light="type: ambient; color: #BBB; intensity: 0.8"></a-entity>
     <a-entity light="type: point; intensity: 0.75; distance: 50; decay: 2"
          position="2.735 2.901 -3.713"></a-entity>




    <a-image id="wall-1"
      src="#wall_1"
      position="0.655 1.981 -7.935"
      rotation="0 0 0">
      </a-image>

      <a-image id="wall-2"
      src="#wall_2"
      position="3.481 1.916 -7.935"
      rotation="0 0 0">
      </a-image>

      <a-image id="movie-poster-1"
      src="#movie_poster_1"
      position="2.093 1.764 -7.960"
      rotation="0 0 0" 
      scale="0.750 1 1">

      </a-image>

      <a-image id="book-cover-1"
      src="#book_cover_1"
      position="4.511 0.668 -2.311"
      rotation="-90 -89.370 2.330" 
      scale="0.340 0.480 1"
     
      >

      </a-image>



      <a-image src="#footsteps" 
        position="0.416 1.876 2.157" 
        class="clickable" 
        blink-teleportation="pos: 2.499 1.6 -5.473">
      </a-image>


      <a-entity id="player"
        spawn-outside
        networked="template:#avatar-template;attachTemplateToLocal:false;"
        look-controls="pointerLockEnabled: true"
        
        
        >

        <a-entity id="camRig" position="0 0 0">
        <!-- CAMERA -->
        <a-camera id="cam" wasd-controls-enabled="true" position="0 0 0"
        
        ></a-camera>
        
      </a-entity>
          


        
          {{!-- <a-entity cursor 
            animation__click="property: scale; startEvents: click; easing: easeInCubic; dur: 150; from: 0.1 0.1 0.1; to: 1 1 1"
            animation__fusing="property: scale; startEvents: fusing; easing: easeInCubic; dur: 1500; from: 1 1 1; to: 0.1 0.1 0.1"
            animation__mouseleave="property: scale; startEvents: mouseleave; easing: easeInCubic; dur: 500; to: 1 1 1"
            position="0 0 -1"
            material="color: black; shader: flat"
            geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03"
            raycaster="far: 20; interval: 1000; objects: .clickable">
          </a-entity> --}}
      </a-entity>

      



    </a-scene>


    <form id="post-session-form" method="POST" action="/room/post-session" enctype="multipart/form-data">
      <input type="hidden" name="room_id" value={{room_code}}>
      <input type="hidden" id="has_done_remote" name="has_done_remote" value="false">
        <input type="hidden" id="has_done_radio" name="has_done_radio" value="false">
        <input type="hidden" id="has_done_arrange" name="has_done_arrange" value="false">
        <input type="hidden" id="has_done_water" name="has_done_water" value="false">
        <input type="hidden" id="has_done_scrapbook" name="has_done_scrapbook" value="false">
    </form>

    <script src="/static/assets/js/networked-objects.component.js"></script>
    

  {{!-- {{> defaultSrc }} --}}
  <script src="/static/assets/js/sync.system.js"></script>

  <script src="/static/assets/js/interactions.js"></script>

  <audio src="/static/assets/audio/bg.mp3" id="bg-music" loop="loop"></audio>

  <script>
    window.onload=function(){
        var bg = document.getElementById("bg-music")
        bg.volume = 0.05
      bg.play();
    }
  </script>


  </body>
</html>