<!DOCTYPE html>
<html lang="en" style="background-color:rgba(255, 255, 255, 0.2)">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="GunitaHu Room">
    
    {{!-- AFrame --}}
     <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>  

    {{!-- Multiplayer dependencies --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
    <script src="https://unpkg.com/open-easyrtc@^2.0.5/api/easyrtc.js"></script>
    <script src="https://unpkg.com/networked-aframe@0.8.0/dist/networked-aframe.min.js"></script>

    {{!-- AFrame Libraries --}}
    {{!-- <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script> --}}
    <script src="https://unpkg.com/super-hands/dist/super-hands.min.js"></script>
    {{!-- <script src="https://unpkg.com/aframe-event-set-component@5.0.0/dist/aframe-event-set-component.min.js"></script> --}}
    <script src="https://cdn.rawgit.com/elbobo/aframe-multisrc-component/b6d23310/dist/0.3/aframe-multisrc-component.js"></script>
    <script src="https://unpkg.com/aframe-state-component@7.1.0/dist/aframe-state-component.min.js"></script>
    

    
    {{!-- CSS + jQuery --}}
    <link rel="stylesheet" type="text/css" href="/static/css/loading.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    
    
 
 
  </head>
 
  <body>

     <div id="splash" style="background-color: rgba(0, 0, 0);">
      <div class="loading"></div>
    </div>

    {{!-- Custom Components --}}
    <script src="/static/assets/js/load-assets.component.js"></script>
    {{!-- <script src="/static/assets/js/capture-mouse.component.js"></script>
    <script src="/static/assets/js/flower-grow.component.js"></script>
    <script src="/static/assets/js/flower-drop.component.js"></script>
    <script src="/static/assets/js/block.component.js"></script> --}}

    <script>

      

      AFRAME.registerState({
        initialState: {
          has_done_remote:false,
          has_done_radio:false,
          has_done_arrange:false,
          has_done_water:false,
          has_scrapbook_1: false,
          has_scrapbook_2: false,
          has_scrapbook_3: false,
          has_scrapbook_4: false
        },
      
        handlers: {
          toggleRemote: function(state, action) {
            state.has_done_remote = true
          },

          toggleRadio: function(state, action) {
            state.has_done_radio = true
          },

          toggleArrange: function(state, action) {
            state.has_done_arrange = true
          },

          toggleWater: function(state, action) {
            state.has_done_water = true
          },

          toggleScrapbook1: function(state, action) {
            state.has_scrapbook_1 = true
          },
          toggleScrapbook2: function(state, action) {
            state.has_scrapbook_2 = true
          },
          toggleScrapbook3: function(state, action) {
            state.has_scrapbook_3 = true
          },
          toggleScrapbook4: function(state, action) {
            state.has_scrapbook_4 = true
          }


        }
      });

      </script>
    

    <a-scene 
      id="scene"
    networked-scene="
      room: {{room_code}};
      debug: true;
      audio: true;
      adapter: easyrtc;
    "
    loading-screen="enabled:false"
    cursor="rayOrigin:mouse"
    > 
      <a-assets>
        {{> common_assets }}
        

        <!-- Templates -->
        <template id="flower-template">
          <a-entity id="ent-flower"
            gltf-model="#rose"
            scale="0.1 0.1 0.1"
            position="5.675 0.723 4.627"
            onclick="clickFlower()"
            >
          </a-entity>
        </template>

        <template id="box-template">
          <a-entity>
            <a-box class="blk"
             position="0 1 -2.650" 
             scale="0.35 0.35 0.35" 
             material="color: yellow"
             block
            ></a-box>
          </a-entity>
        </template>

        
       {{> avatar_template }}

      </a-assets>

        <a-entity id="player"
          networked="template:#avatar-template;attachTemplateToLocal:false;"
          camera
          position="0 1.6 0"
          look-controls="pointerLockEnabled: true"
          
          wasd-controls="acceleration:10"
          super-hands="colliderEvent: raycaster-intersection;
            colliderEventProperty: els;
            colliderEndEvent:raycaster-intersection-cleared;
            colliderEndEventProperty: clearedEls;"
            >
          <a-sphere class="head" visible="false"></a-sphere>
          <a-cursor></a-cursor>
        </a-entity>


        <a-entity model-manager>

          {{> house }}


          {{!-- LIVING ROOM --}}

          {{> couch }}
          {{> tv_set }}
          {{!-- {{> tv_plants }} --}}
          
          {{> remote }}
          {{> radio }}
          {{> camera }}


          {{!-- must be a gltf-model --}}
          {{!-- {{> image_1 }} --}}


          {{!-- GARDEN --}}
          {{> bush }}
          {{> vase }}
          {{> watercan }}
          {{!-- {{> small_table }} --}}
          {{> large_table }}
          {{!-- {{> scrapbook }} --}}
          


          {{> exit }}

        </a-entity>

        {{> scrapbook_1 }}
        {{> scrapbook_2 }}
        {{> scrapbook_3 }}
        {{> scrapbook_4 }}

        <a-sky color="#FFFDD0"></a-sky>

      </a-entity>

      
      


      <a-entity id="test-flower" 
      networked="template:#flower-template;attachTemplateToLocal:true;networkId:remote;persistent:true;owner:scene"
      ></a-entity>



       {{!-- 3 Blocks Networked Test  --}}
      {{!-- <a-entity id="test-block" networked="template:#box-template;attachTemplateToLocal:true;networkId:remote;persistent:true;owner:scene"></a-entity>
      <a-box id="addBlock" position="0.8 1 -2.650" scale="0.5 0.5 0.5" material="color: green"></a-box>
      <a-box id="minusBlock" position="-1 1 -2.650" scale="0.5 0.5 0.5" material="color: red"></a-box> --}}

      <a-entity id="state" bind__gameState=
      "has_done_remote: has_done_remote; 
      has_done_radio: has_done_radio;
      has_done_arrange: has_done_arrange;
      has_done_water: has_done_water;
      has_scrapbook_1: has_scrapbook_1;
      has_scrapbook_2: has_scrapbook_2;
      has_scrapbook_3: has_scrapbook_3;
      has_scrapbook_4: has_scrapbook_4
      "></a-entity>

    </a-scene>


    <form id="post-session-form" method="POST" action="/room/post-session" enctype="multipart/form-data">
      <input type="hidden" name="room_id" value={{room_code}}>
      <input type="hidden" id="has_done_remote" name="has_done_remote" value="false">
        <input type="hidden" id="has_done_radio" name="has_done_radio" value="false">
        <input type="hidden" id="has_done_arrange" name="has_done_arrange" value="false">
        <input type="hidden" id="has_done_water" name="has_done_water" value="false">
    </form>

    <script src="/static/assets/js/networked-objects.component.js"></script>
    

  {{!-- {{> defaultSrc }} --}}
  <script src="/static/assets/js/sync.system.js"></script>

  <script src="/static/assets/js/interactions.js"></script>
  </body>
</html>