{{> header }}
<div class="container p-5 text-center">
  <h2 class="font-weight-bold">Room Code {{room_code}} </h2>
  <h2 class="font-weight-bold">Secret Key {{secret_key}}</h2>
  <h5 class="text-muted">The secret key is what you use to edit room settings</h5>
  <h5 class="text-muted">Keep this safe as this cannot be recovered</h5>
  <a class="btn btn-lg mt-5 btn-custom w-25 mt-5 mx-auto" href="/room/edit">Edit Room Settings</a>
</div>