{{> header }}
<div class="container p-5">
  {{#if error}}
    <div class="alert alert-danger">{{ error }}</div>
  {{/if}}
  <form method="POST" action="/room/join" enctype="multipart/form-data">
    
    <div class="form-group d-flex flex-column align-items-center justify-content-center p-5">
      <h2 class="font-weight-bold">Enter Room Code</h2>
      

      <div class="form-group d-flex">
        <i class="fa fa-lock pt-1 pr-2" aria-hidden="true" style="font-size:x-large"></i>
        <input class="form-control" type="text" name="room_code">
      </div>
      <input class="btn btn-lg mt-5 btn-custom w-25 mt-5 mx-auto" type="submit" value="Join Room">
    </div>
  </form>
  <div class="text-center"><a class="text-black" href="/room/create"><u>Create Room</u></a></div>
</div>