<!DOCTYPE html>
<html lang="en" style="background-color:rgba(255, 255, 255, 0.2)">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="GunitaHu Room">
    
    {{!-- AFrame --}}
     <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>  

    {{!-- Multiplayer dependencies --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
    <script src="https://unpkg.com/open-easyrtc@^2.0.5/api/easyrtc.js"></script>
    <script src="https://unpkg.com/networked-aframe@0.8.0/dist/networked-aframe.min.js"></script>

    {{!-- AFrame Libraries --}}
    {{!-- <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script> --}}
    <script src="https://unpkg.com/super-hands/dist/super-hands.min.js"></script>
    {{!-- <script src="https://unpkg.com/aframe-event-set-component@5.0.0/dist/aframe-event-set-component.min.js"></script> --}}
    <script src="https://cdn.rawgit.com/elbobo/aframe-multisrc-component/b6d23310/dist/0.3/aframe-multisrc-component.js"></script>

    

    
    {{!-- CSS + jQuery --}}
    <link rel="stylesheet" type="text/css" href="/static/css/loading.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    
    
 
 
  </head>
 
  <body>

     <div id="splash" style="background-color: rgba(0, 0, 0);">
      <div class="loading"></div>
    </div>

    {{!-- Custom Components --}}
    <script src="/static/assets/js/load-assets.component.js"></script>
    {{!-- <script src="/static/assets/js/capture-mouse.component.js"></script> --}}
    {{!-- <script src="/static/assets/js/flower-grow.component.js"></script>
    <script src="/static/assets/js/flower-drop.component.js"></script> --}}
    <script src="/static/assets/js/block.component.js"></script>
    

    <a-scene networked-scene="
      room: {{room_code}};
      debug: true;
      audio: true;
      adapter: easyrtc;
    "
    loading-screen="enabled:false"
    > 
      <a-assets>
        {{> common_assets }}
        {{!-- <a-mixin id="mixin-flower"
          scale="0.1 0.1 0.1"
          hoverable grabbable stretchable draggable droppable
          event-set__hoveron="_event: hover-start; material.opacity: 0.7; transparent: true"
          event-set__hoveroff="_event: hover-end; material.opacity: 1; transparent: false"
          flower-grow
        ></a-mixin> --}}

        <!-- Templates -->
        <template id="flower-template">
          <a-entity id="ent-flower"
            gltf-model="#rose"
            scale="0.1 0.1 0.1"
            position="5.675 0.723 4.627"
            onclick="clickFlower()"
            >
          </a-entity>
        </template>

        <template id="box-template">
          <a-entity>
            <a-box class="blk"
             position="0 1 -2.650" 
             scale="0.35 0.35 0.35" 
             material="color: yellow"
             block
            ></a-box>
          </a-entity>
        </template>

        
       {{> avatar_template }}

      </a-assets>

        <a-entity id="player"
          networked="template:#avatar-template;attachTemplateToLocal:false;"
          camera
          position="0 1.6 0"
          look-controls="pointerLockEnabled: true"
          cursor="rayOrigin:mouse"
          wasd-controls="acceleration:10"
          super-hands="colliderEvent: raycaster-intersection;
            colliderEventProperty: els;
            colliderEndEvent:raycaster-intersection-cleared;
            colliderEndEventProperty: clearedEls;"
            >
          <a-sphere class="head" visible="false"></a-sphere>
          <a-cursor></a-cursor>
        </a-entity>


        <a-entity model-manager>

          {{> house }}


          {{!-- LIVING ROOM --}}

          {{> couch }}
          {{> tv_set }}
          {{!-- {{> tv_plants }} --}}
          
          {{> remote }}
          {{> radio }}


          {{!-- must be a gltf-model --}}
          {{!-- {{> image_1 }} --}}


          {{!-- GARDEN --}}
          {{> bush }}
          {{> vase }}
          {{> watercan }}
          {{> small_table }}

        </a-entity>

        <a-sky color="#FFFDD0"></a-sky>

      </a-entity>

      
      


      <a-entity id="test-flower" 
      networked="template:#flower-template;attachTemplateToLocal:true;networkId:remote;persistent:true;owner:scene"
      ></a-entity>



       {{!-- 3 Blocks Networked Test  --}}
      {{!-- <a-entity id="test-block" networked="template:#box-template;attachTemplateToLocal:true;networkId:remote;persistent:true;owner:scene"></a-entity>
      <a-box id="addBlock" position="0.8 1 -2.650" scale="0.5 0.5 0.5" material="color: green"></a-box>
      <a-box id="minusBlock" position="-1 1 -2.650" scale="0.5 0.5 0.5" material="color: red"></a-box> --}}


    </a-scene>

    <script src="/static/assets/js/networked-objects.component.js"></script>
    

  {{> defaultSrc }}
  <script src="/static/assets/js/sync.system.js"></script>

  <script>
    function clickWatercan() {
      NAF.connection.broadcastDataGuaranteed('watercan-clicked', true)
      growFlower()
      
    }

    function growFlower() {
      var flower = document.getElementById('ent-flower')
      flower.setAttribute('animation__grow', 'property: scale; to: 0.25 0.25 0.25; dur: 1500')
    }

    function clickFlower() {
      NAF.connection.broadcastDataGuaranteed('flower-clicked', true)
      moveFlowerToVase()
    }

    function moveFlowerToVase() {
      var flower = document.getElementById('ent-flower')
      flower.setAttribute('animation__move', 'property: position; to: 2.164 0.769 3.183; dur: 1500')
      flower.setAttribute('animation__rotate', 'property: rotation; to: 0 0 0; dur: 1500')
    }


    function clickRemote() {
      NAF.connection.broadcastDataGuaranteed('remote-clicked', true)
      var vid = document.getElementById('tv-screen')
      if (!vid.paused) {
          vid.pause()
      } else {
          vid.play()
      }

    }

    function clickRadio() {
      NAF.connection.broadcastDataGuaranteed('radio-clicked', true)
      var radio = document.getElementById('radio-music')
      if (!radio.paused) {
          radio.pause()
      } else {
          radio.play()
      }

    }


  </script>

  
  

  </body>
</html>